<!doctype html>
<html>
<head>
    <title>{{#title}}{{title}}{{/title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="pure-g">
    <div class="pure-u-1-3"></div>
    <div class="pure-u-1-3">
        <div><img class="pure-img" src="./coupang.png"></div>
        <br/>
        <br/>
